body {
    background-color: #EEEEEE;
    font-size: 12pt;
    font-family: sans-serif, arial;
	padding: 45px 0 0 0;
}
/* Header definitions */
h1 {
    font-size: 16pt;
    font-family: sans-serif, arial;
    color: #545960;
    text-align: center;
    border-bottom: 1px solid #545960;
}

h2 {
    font-size: 14pt;
    color: #7789a3;
}

/* Link definitions */
a {
    color: #545960;
}

a:hover {
    color: #ABC1D0;
    text-decoration: none;
}

/* Text decoration elements */
strong, em {
    color: #ABC1D0;
}

img {
    padding: 10px;
}

/* Div definitions */
/* The div is an ID because maincontent will only occur once */
#maincontent {
    position: relative;
    padding: 15px;
    margin: auto;
    background-color: white;
    width: 60%;
    text-align: justify;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}