{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Diagnostic Assistance Software</title>
  <script src="https://unpkg.com/vue"></script>
  <BASE href="http://localhost:8000/">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static '/diagassist/style.css' %}">
</head>
<body>
  <div id = "navigation">
    <a class = "nav" href = "/diagassist/">Home</a> &nbsp;
    <a class = "nav" href = "/diagassist/signup">Sign up</a> &nbsp;
    <a class = "nav" href = "/diagassist/login">Log in</a> &nbsp;
    <a class = "nav" href = "/diagassist/logout">Log out</a> &nbsp;
  </div>
  <div class="content container">
          {% block content %}
          {% endblock %}
  </div>

</body>
</html>
