{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Diagnostic Assistance Software</title>
  <script src="https://unpkg.com/vue"></script>
  <BASE href="http://localhost:8000/diagassist/">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static '/diagassist/style.css' %}">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="//">Diagnostic Assistance Software</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/diagassist/">Home</a></li>
      <li><a href="/diagassist/diagnose">Diagnose</a></li>
	  {% if user.is_authenticated %}
      <li><a href="/diagassist/logout">Log out</a></li>
	  {% else %}
      <li><a href="/diagassist/signup">Sign up</a></li>
      <li><a href="/diagassist/login">Log in</a></li>
	  {% endif %}
    </ul>
	<ul class="nav navbar-nav navbar-right">
	  <span class="navbar-text">
		Hello, {{request.user.username}}
	  </span>
    </ul>
  </div>
</nav>


<div class="container-fluid text-center">    
	  <div class="row content">
			<div class="col-sm-2 sidenav">
			</div>
			<div class="col-8 col-sm-8 col-md-8 col-lg-8 text-left"> 
				  {% block content %}
				  {% endblock %}
			</div>
			<div class="col-sm-2 sidenav">
		  </div>
	  </div>
  </div>

</body>
</html>
