
{% extends 'base.html' %}

{% block title %}Diagnose Clients{% endblock %}

{% block content %}

{% if user.is_authenticated %}
 <h2>Success!</h2>
	Gender is {{gender}}.<br />
	Age is {{age}}. <br />
	Preexisting is {{preexisting}}.<br />
	Symptom 1 is {{symp1.sympNumber}}.<br />
	Persistent 1 is {{persistent1}}.<br />
{% else %}
You must be logged in to see this page. Please either <a href = "/diagassist/login">log in</a> or 
<a href = "/diagassist/signup">sign up</a>.
{% endif %}
 

{% endblock %}
